@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap");

html {
  --main-hl-color: #bdbf09;
  --off-black: #1b2122;
  --faded-black: hsl(0, 0%, 34%);
  --gray: #4b4b4b;
}
* {
  margin: 0;
  padding: 0;
}

body {
  align-items: flex-start;
  background: linear-gradient(122.34deg, #bdbf09 5.97%, #7d8261 95.09%);
  color: var(--off-black);
  display: flex;
  flex-direction: column;
  font-family: "Atkinson Hyperlegible";
  gap: 16px;
  justify-content: center;
  padding: 16px 120px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.follow-button {
  align-self: flex-end;
  justify-self: flex-end;
}

.post-infos-section > .follow-button {
  align-self: center;
  justify-self: flex-end;
}

a:hover {
  color: var(--main-hl-color);
}

body > header {
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 64px;
  justify-content: space-between;
  min-width: min-content;
  padding: 12px 16px;
  width: 100%;
}

time {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-style: italic;
}

button.follow-button,
input.button-like {
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #1b2122;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: fit-content;
  justify-content: center;
  line-height: 1.25rem;
  padding: 2px 6px;
  position: relative;
  width: fit-content;
}

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.profile-pic {
  width: 128px;
}

.search-button:hover i {
  color: var(--main-hl-color);
}
button.follow-button:hover,
input.button-like:hover {
  background: var(--main-hl-color);
  border: 1px solid var(--main-hl-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  transform: translateY(-2px);
}
button.follow-button:active,
input.button-like:active {
  background: white;
  color: white;
  transform: scaleX(1.3);
  transform: scaleY(0.9O);
}

body > header #menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 30px;
  padding: 0px;
  width: fit-content;
}

body > header #menu a {
  width: fit-content;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: auto;
  text-align: center;
  text-decoration: none;
}

body > header #menu i {
  color: var(--off-black);
  font-size: 1.5rem;
}
body > header #menu i:hover {
  color: var(--main-hl-color);
}

article {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  gap: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post-card {
  flex-grow: 1;
}

.post-infos-section {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.post-infos-section > .profile-pic {
  width: 48px;
  border-radius: 5px;
}

.post-author-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

.profile-info-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 4px;
  flex-grow: 1;
}

textarea,
.text-area {
  cursor: text;
  border: 1px solid #8e8e8e;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  resize: none;
}
textarea:hover,
.text-area:hover {
  border: 1px solid #4b4b4b;
}

textarea:focus-visible,
.text-area:focus-visible {
  border: 1px solid #1b2122;
}

button,
input,
textarea,
a,
i {
  all: unset;
  transition: all 400ms;
}

a {
  text-decoration: underline;
}

button,
a {
  cursor: pointer;
}

label {
  height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 8px;
}

.parameters dl dt {
  float: left;
  font-weight: bold;
  line-height: 1.5em;
}
.parameters dl dd {
  margin-left: 15em;
  line-height: 1.5em;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.contacts article {
  width: 25em;
  height: 7em;
  margin-right: 1em;
}

.message-area {
  width: 100%;
  height: 128px;
}

.profile-card {
  flex-direction: row;
  height: fit-content;
}
.profile-pic {
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.profile-card > .profile-pic {
  width: 128px;
}

.vert-line {
  background-color: var(--off-black);
  height: 100%;
  width: 1px;
  border: 0px solid var(--off-black);
}

.send-button {
  align-self: flex-end;
}

#search-bar {
  width: 33%;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

#search-bar > #search-field {
  flex-grow: 1;
}

#wrapper aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}

#wrapper.vertical {
  flex-direction: column;
}
